/* SPLASH... */
header[role=banner] {
  padding: 60px 0;
}

header[role=banner] h1,
header[role=banner] h2 {
  display: none;
}

.yumming-soon {
  text-align: center;
  font-weight: bold;
  margin-top: -2em;
  color: #333;
  font-size: 2em;
}

@media (max-width: 979px) {
  .yumming-soon {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .yumming-soon {
    font-size: 1.25em;
  }
}

@media (max-width: 480px) {
  .page-header small {
    display: block;
  }

  .yumming-soon {
    font-size: 1em;
  }
}
/* ...SPLASH */

/* footer... */
.h-card .u-email,
.h-card .p-tel {
  font-weight: bold;
}

.h-card .u-email {
  border-right: 2px solid black;
  padding-right: 1em;
  margin-right: .7em;
}

.h-card .u-url {
  margin-right: .5em;
}

.copyright {
  text-align: right;
}

footer {
  margin: 4em 0 2em 0;
}
/* ...footer */

/* global nav... */
.navbar-brand {
  background: url(/img/logo.png) no-repeat left center;
  text-indent: -999em;
  width: 150px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .navbar-brand {
    background: url(/img/logo@2x.png) no-repeat left center;
    width: 300px;
  }
}

/* ...global nav */

/* home page...*/
#homepage-products img {
  width: 100%;
}

.thumbnail {
  margin-bottom: 2em;
}
/* ...home page*/

/* product pages... */
#product img {
  width: 100%;
}

#product h1 {
  text-align: center;
}

.flavors,
.flavors li {
  margin: 0;
  padding: 0;
  display: inline;
}
.flavors li:after {
  content: ", ";
}
.flavors li:last-child:after {
  content: ".";
}

@media (max-width: 985px) {
  #product h1 small {
    display: block;
  }

  #product .product-photo:first-child img {
    display: block;
  }

  #product .product-photo img {
    display: none;
  }
}
/* ...product pages */
